*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #111827;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.logo img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 4px;
}

.nav-links a:hover{
    background-color: #d4af37;
}

.btn{
    color:  #111111;
    background-color: white;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-weight: 400;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.btn:hover{
    background-color: #b8922f;
    color: #1f1f1f;
}