*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: crimson;
    border-radius: 50%;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translatey(10px);
    }

    50% {
        transform: translatey(200px);
    }

    100% {
        transform: translatey(100px);
    }
}